thumbs.db
/Build
/Build (AnyCPU)
/Build (x64)
/Build (x86)
/BuildRelease
/BuildRelease (AnyCPU)
/BuildRelease (x64)
/BuildRelease (x86)
/~Publish
*.user
*.cache
*.VC.db
*.suo
obj/
bin/
.vs/
packages/
*.vspx
/BuildNgXmlBuilder
/BuildNgXmlBuilder (AnyCPU)
/BuildNgXmlBuilder (x64)
/BuildNgXmlBuilder (x86)
/BuildNgXmlBuilderRelease
/BuildNgXmlBuilderRelease (AnyCPU)
/BuildNgXmlBuilderRelease (x64)
/BuildNgXmlBuilderRelease (x86)

# JetBrains IDEs
.idea/
