<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net452" />
  <package id="Xunit" version="2.4.1" targetFramework="net452" />
  <package id="Xunit.abstractions" version="2.0.3" targetFramework="net452" />
  <package id="Xunit.analyzers" version="0.10.0" targetFramework="net452" />
  <package id="Xunit.assert" version="2.4.1" targetFramework="net452" />
  <package id="Xunit.core" version="2.4.1" targetFramework="net452" />
  <package id="Xunit.extensibility.core" version="2.4.1" targetFramework="net452" />
  <package id="Xunit.extensibility.execution" version="2.4.1" targetFramework="net452" />
  <package id="Xunit.runner.visualstudio" version="2.4.3" targetFramework="net452" developmentDependency="true" />
</packages>