<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AssimpNet" version="4.1.0" targetFramework="net45" />
  <package id="CH.SipHash" version="1.0.2" targetFramework="net45" />
  <package id="ksemenenko.ColorThief" version="1.1.1.4" targetFramework="net45" />
  <package id="Microsoft.NETCore.Platforms" version="2.2.3" targetFramework="net45" />
  <package id="MiniZ.Net" version="1.0.0" targetFramework="net45" />
  <package id="NAudio" version="1.9.0" targetFramework="net45" />
  <package id="NAudio.Flac" version="1.0.5702.29018" targetFramework="net45" />
  <package id="NAudio.Vorbis" version="1.0.0.0" targetFramework="net45" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net45" />
  <package id="NLog" version="4.6.7" targetFramework="net45" />
  <package id="NVorbis" version="0.8.5.0" targetFramework="net45" />
  <package id="Pfim" version="0.5.2" targetFramework="net45" />
  <package id="PSD.Loader" version="0.1.1" targetFramework="net45" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net45" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net45" />
</packages>